:root {
	--colot-accent: #23c366;
	--color-primary-dark: #2d3142;
	--color-primary: #bfc0c0;
	--color-primary-light: #4f5d75;

	--color-white: #fff;
	--color-hover: #4784e5;
}

body {
	background-color: var(--color-primary-dark) !important;
}

.header {
	background-color: var(--color-primary-dark) !important;
	border-bottom: 1px solid var(--color-primary) !important;
}

.header.header--theme-dark .custom-search input {
	background-color: var(--color-primary-dark) !important;
	border: 1px solid var(--color-primary) !important;
}

.header.header--theme-dark .custom-search input::placeholder {
	color: var(--color-primary) !important;
}

.subnav {
	background-color: var(--color-primary-dark) !important;
	border-top: 1px solid var(--color-primary) !important;
}

.subnav ul>li>a, .subnav ul>li>span {
	color: var(--color-white) !important;
}

.subnav ul>li>a.category-menu__list-item--hover, .subnav ul>li>a:hover, .subnav ul>li>span:hover {
	color: var(--colot-accent) !important;
}

.subnav ul.sub-menu-parent>li>a:before, .subnav ul.sub-menu-parent>li>span:before {
	background: var(--color-primary) !important;
}

.bread-crump ol li a span {
	color: var(--color-primary) !important;
}

.catalog-header {
	color: var(--color-white) !important;
}

.cat-header-tags__item {
	background-color: var(--color-primary-light) !important;
	border: 1px solid var(--color-primary-light) !important;
	color: var(--color-white) !important;
}

.cat-header-tags__item:hover {
	border: 0 !important;
	background-color: var(--color-hover) !important;
}

.base-filters-count-project {
	color: var(--color-primary) !important;
}

.kworks-filter {
	background-color: var(--color-primary-light) !important;
	border: none !important;
	border-radius: 8px !important;
}

.kworks-filter .kworks-filter-header {
	color: var(--color-white) !important;
}

.kw-color--black {
	color: var(--color-primary) !important;
}

.allmusic ul li a {
	color: var(--color-primary) !important;
}

.kworks-filter hr {
	background: var(--color-primary) !important;
}

.popup-filter__group-title {
	color: var(--color-white) !important;
}

.kworks-filter label a, .kworks-filter label a:hover {
	color: var(--color-primary) !important;
}

.kworks-filter .unembedded-filter a {
	color: var(--color-primary) !important;
}

.unembedded-filter__more {
	color: var(--color-hover) !important;
}