:root {
	--colot-accent: #23c366;
	--color-primary-dark: #2d3142;
	--color-primary: #bfc0c0;
	--color-primary-light: #4f5d75;

	--color-white: #fff;
	--color-hover: #FE7A32; /* #4784e5 */

	--filter-image: invert(57%) sepia(56%) saturate(2210%) hue-rotate(338deg) brightness(101%) contrast(99%);
}

body {
	background-color: var(--color-primary-dark) !important;
}

.header {
	background-color: var(--color-primary-dark) !important;
	border-bottom: 1px solid var(--color-primary) !important;
}

.header.header--theme-dark .custom-search input {
	background-color: var(--color-primary-dark) !important;
	border: 1px solid var(--color-primary) !important;
}

.header.header--theme-dark .custom-search input::placeholder {
	color: var(--color-primary) !important;
}

.subnav {
	background-color: var(--color-primary-dark) !important;
	border-top: 1px solid var(--color-primary) !important;
}

.subnav ul>li>a, .subnav ul>li>span {
	color: var(--color-white) !important;
}

.subnav ul>li>a.category-menu__list-item--hover, .subnav ul>li>a:hover, .subnav ul>li>span:hover {
	color: var(--colot-accent) !important;
}

.subnav ul.sub-menu-parent>li>a:before, .subnav ul.sub-menu-parent>li>span:before {
	background: var(--color-primary) !important;
}

.bread-crump ol li a span {
	color: var(--color-primary) !important;
}

.catalog-header {
	color: var(--color-white) !important;
}

.cat-header-tags__item {
	background-color: var(--color-primary-light) !important;
	border: 1px solid var(--color-primary-light) !important;
	color: var(--color-white) !important;
}

.cat-header-tags__item:hover {
	border: 0 !important;
	background-color: var(--color-hover) !important;
}

.cat-header-tags__item.active {
	border: 0 !important;
	background-color: var(--color-hover) !important;
}

.base-filters-count-project {
	color: var(--color-primary) !important;
}

.custom-switcher__header-title {
	color: var(--color-primary) !important;
}

.custom-switcher__header-value {
	color: var(--color-hover) !important;
}

.custom-switcher:not(.opened) .custom-switcher__header:hover .custom-switcher__value {
	color: var(--color-hover) !important;
}

.custom-switcher__arrow {
	stroke: var(--color-hover) !important;
}

.custom-switcher__list {
	background: var(--color-primary-light) !important;
}

.custom-switcher__list-item {
	background: var(--color-primary-light) !important;
}

.sort-custom-switcher .custom-switcher__list-item {
	color: var(--color-primary) !important;
}

.custom-switcher__list-item.active {
	color: var(--color-white) !important;
}

.kworks-filter {
	background-color: var(--color-primary-light) !important;
	border: none !important;
	border-radius: 12px !important;
}

.kworks-filter .kworks-filter-header {
	color: var(--color-white) !important;
}

.kw-color--black {
	color: var(--color-primary) !important;
}

.allmusic ul li a {
	color: var(--color-primary) !important;
}

.kworks-filter hr {
	background: var(--color-primary) !important;
}

.kworks-filter .filter-clear {
	color: var(--color-hover) !important;
}

.popup-filter__group-title {
	color: var(--color-white) !important;
}

.kworks-filter label a, .kworks-filter label a:hover {
	color: var(--color-primary) !important;
}

.kworks-filter .unembedded-filter a {
	color: var(--color-primary) !important;
}

.unembedded-filter__more {
	color: var(--color-primary) !important;
}

.popup-filter__checkbox {
	color: var(--color-primary) !important;
}

.unembedded-filter__more:after {
	display: none !important;
}

.more-filters__link {
	color: var(--color-hover) !important;
	border-bottom: 1px dashed var(--color-hover) !important;
}

.kwork-list-cards .kwork-card-item, .kwork-list-cards .kwork-card-search {
	border: none !important;
}

.cusongsblock, .cusongsblock-user {
	background-color: var(--color-primary-light) !important;
	border-radius: 12px !important;
}

.kwork-card-item__left {
	border-bottom: none !important;
}

.kwork-list-cards .kwork-card-item__title a, .kwork-list-cards .kwork-card-search__title a {
	color: var(--color-white) !important;
}

.kwork-card-item .kwork-card-item__username a {
	color: var(--color-primary) !important;
}

.kwork-list-cards .kwork-card-item__userdata, .kwork-list-cards .kwork-card-search__userdata {
	border-top: none !important;
}

.page-projects-header {
	color: var(--color-white) !important;
}

.page-projects .wants-filter__links {
	background: var(--color-primary-light) !important;
	border: none !important;
	border-radius: 12px !important;
}

.page-projects .wants-filter__link {
	color: var(--color-primary) !important;
}

.wants-filter__link:hover {
	color: var(--color-white) !important;
}

.page-projects .wants-filter__link.active {
	background: rgba(255, 255, 255, .1) !important;
	border-radius: 12px !important;
}

.page-projects .wants-filter__link.active {
	color: var(--color-white) !important;
}

.page-projects .wants-filter__link.active:before, .page-projects .wants-filter__link:focus:before, .page-projects .wants-filter__link:hover:before {
	display: none !important;
}

.page-projects .connects-points__email, .page-projects .connects-points__point {
	background: var(--color-primary-light) !important;
	border: none !important;
	border-radius: 12px !important;
}

.page-projects .connects-points__item-count, .page-projects .connects-points__item-text {
	color: var(--color-white) !important;
}

.page-projects .connects-points__item-date {
	border-left: 1px solid var(--color-primary) !important;
}

.page-projects .connects-points__progress-value {
	background: var(--color-hover) !important;
}

.page-projects .connects-points__email-icon {
	filter: var(--filter-image) !important;
}

.page-projects .connects-points__item-link {
	color: var(--color-primary) !important;
}

.kw-link {
	color: var(--color-hover) !important;
	text-decoration: underline !important;
	text-decoration-color: transparent !important;
}

.kw-link:hover {
	color: var(--color-hover) !important;
	text-decoration-color: var(--color-hover) !important ;
}

.kw-header--h4, .kw-header--h5 {
	color: var(--color-white) !important;
}

.kw-color--gray-tooltip {
	color: var(--color-primary) !important;
}

.dashboard__block {
	background-color: var(--color-primary-light) !important;
	border: 1px solid var(--color-primary-light) !important;
}


.dashboard__user-card-name {
	color: var(--color-white) !important;
}

.dashboard__user-card-status {
	color: var(--color-primary) !important;
}

.dashboard__user-card .worker-status-title {
	color: var(--color-white) !important;
}

.dashboard__user-card-stats-title {
	color: var(--color-primary) !important;
}

.kw-progress-bar__value {
	color: var(--color-white) !important;
}

.kw-progress-bar__chart:before {
	background: var(--color-primary) !important;
	border: 1px solid var(--color-primary) !important;
}

.chat__list-item:hover {
	background-color: var(--color-primary) !important;
}

.chat__list-item:hover .chat__list-user,
.chat__list-item:hover .chat__list-message {
	color: var(--color-primary-dark) !important;
}

.chat__list-item:hover .chat__list-date {
	color: var(--color-primary-light) !important;
}

.chat__list-user {
	color: var(--color-white) !important;
}

.chat__list-date {
	color: var(--color-primary) !important;
}

.chat__list-message {
	color: var(--color-white) !important;
}

.dashboard__projects-table thead td {
	background: var(--color-primary-dark) !important;
}

.dashboard__projects-table thead {
	color: var(--color-white) !important;
	margin-bottom: 8px !important;
}

.dashboard__projects-table tbody tr:hover td {
	background: var(--color-primary) !important;
}

.dashboard__projects-table tbody tr:hover .dashboard__projects-item-title,
.dashboard__projects-table tbody tr:hover .dashboard__projects-user-name,
.dashboard__projects-table tbody tr:hover .dashboard__projects-user-info{
	color: var(--color-primary-dark) !important;
}

.dashboard__projects-table tbody tr:hover .dashboard__projects-breadcrumbs {
	color: var(--color-primary-light) !important;
}

.dashboard__projects-item-title {
	color: var(--color-white) !important;
}

.dashboard__projects-breadcrumbs {
	color: var(--color-primary) !important;
}

.dashboard__projects-user-name {
	color: var(--color-white) !important;
}

.dashboard__projects-user-info {
	color: var(--color-white) !important;
}